
/*defining styles for grid */
body {
	background:#000;
}

.header {
	background:#3b3b3b;
	padding:20px;
	margin-bottom:40px;
}
.header img{
	width:120px;
	height:70px;
}
.header a{
	color:yellow;	
}

svg{
    top: -31px;
    color: yellow;
    position: relative;
    left: 913px;
    bottom: 17px;
}

.slogan{
	color:yellow;
	text-align:center;
	margin-bottom:20px;
}

.slogan h1{
	   font-size:50;
}
.slogan {
	font-size:18px;
}

.footer {
	color:#fff;
	font-size:110%;
	display:flex;
	justify-content:space-between;
	padding:25px;
	background:#3b3b3b;
}
.grid-box {
	width:80%;
	margin:auto;
	/* background:red; */
	margin-bottom:20px;
	display:grid;
	/* grid-template-columns:400px 400px 400px; */
	/* grid-template-columns:30% 40% 50%; */
	grid-template-columns:repeat(6,1fr);
	/*grid-template-rows:400px;
	/* column-gap:10px; */
	gap:10px;
	
}

.grid-box a {
	color:white;
	text-decoration:none;
    font-size:20px;
}
.grid-box a:hover {
	color:yellow;
	text-decoration:underline;
}
.grid-box>div>div:nth-child(3) {
	 color:cyan;
 }
 
.grid-box img {
	transition:500ms;
    width: 200px;
	border-radius:10px 10px 10px 10px;
}
 .grid-box img:hover{
	 transform:scale(1.5);
 }
